<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjeDonem1_DOTNET_.Properties.Settings.Proje_Donem1ConnectionString"
            connectionString="Data Source=DESKTOP-O7DE2K5;Initial Catalog=&quot;Proje Donem1&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>